{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="title is-1">{{ character.name }}</h1>
    <div class="columns is-multiline is-desktop is-vcentered">
        <div class="column is-one-quarter">
            <figure class="image is-1by1">
                <img src="https://picsum.photos/1280/960" alt="Placeholder image">
            </figure>
        </div>
        <div class="column">
            <div class="content">
                <h3>Gender:</h3>
                <p>{{ character.gender }}</p>
                <h3>Specie:</h3>
                <p>{{ character.specie }}</p>
                <h3>Gender:</h3>
                <p>{{ character.gender }}</p>

            </div>
        </div>
    </div>
    <h2 class="title is-2">Films:</h2>
    <div class="columns is-multiline is-desktop is-vcentered is-centered">
        {% for film in films %}
            <div class="column is-one-quarter">
                <a href="{{ path('film_single', {id: film.id}) }}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/1280/960?random={{ loop.index }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{ film.title }}</p>
                            <p class="subtitle is-6">{{ film.director }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}