<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Agi Swapi !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-head  has-background-info ">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="{{ path('home') }}">
                                <img src="https://logodownload.org/wp-content/uploads/2015/12/star-wars-logo-3-1.png" alt="Logo">
                            </a>
                            <span class="navbar-burger" data-target="navbarMenuHeroB">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenuHeroB" class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item is-active " href="{{ path('home') }}">
                                    Home
                                </a>
                                {% if app.user %}
                                    <a class="navbar-item is-active " href="{{ path('films') }}">
                                        Films
                                    </a>
                                    <a class="navbar-item is-active " href="{{ path('characters') }}">
                                        Characters
                                    </a>
                                    <a class="navbar-item is-active " href="{{ path('clear_cache') }}">
                                        Clear api cache
                                    </a>
                                    <a class="navbar-item is-active " href="{{ path('app_logout') }}">
                                        Logout
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="hero-body">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>
